#top-select-option {
    float:right;
    font-size:16px;
    background-color: #4945ff;
    color: white;
    padding: 4px;
    border-radius: 8%;
}
/* .box_row {
    background-color: #4945ff;
}
.box_row_item {
    color: white;
} */